{{template "base" .}}

{{define "main"}}
{{$vacationTypes := .VacationTypeList.List}}
<div class="row justify-content-center">
    <div class="card col-4">
        <div class="card-body">
            <h5 class="card-title">
                Vacation details
            </h5>
            <div class="col-md-12">
                <form method="get" action="/vacations/{{.Vacation.Id}}">
                    <div class="row">
                        <div class="col-6">
                            <label for="StartDate" class="form-label">First Day</label>
                            <input type="date" class="form-control" id="StartDate" name="StartDate"
                                aria-describedby="StartDateHelp" value="{{.Vacation.StartDate}}" required>
                            <div id="StartDateHelp" class="form-text">
                                Select the first day of the vacation.<br />
                                The vacation starts at 9:00. <br />
                                The first day should be a working day.
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="EndDate" class="form-label">Last Day</label>
                            <input type="date" class="form-control" id="EndDate" name="EndDate"
                                aria-describedby="EndDateHelp" value="{{.Vacation.EndDate}}" required>
                            <div id="EndDateHelp" class="form-text">
                                Select the last day of the vacation.<br />
                                The vacation ends at 19:00. <br />
                                The last day should be a working day.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="TypeId" class="form-label">Type of vacation</label>
                        <select class="form-select" aria-label="Type select" name="TypeId" required>
                            <option value="">Select the type of vacation</option>
                            {{range $index, $element := $vacationTypes}}
                            <option value="{{$element.TypeId}}" {{if eq $element.TypeId 0}}selected{{end}}>
                                {{$element.TypeTitle}}</option>
                            {{end}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Preview</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}