{{template "base" .}}

{{define "main"}}
{{$Year :=""}}
<div class="col-12 justify-content-center d-flex">
    <div class="card row col-6">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title">Holidays</h5>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-outline-secondary btn-sm">
                        <a class="nav-link" href="/extra_day/0">
                            <i class="bi bi-plus-circle-fill"></i>
                            New Holiday
                        </a>
                    </button>
                </div>
            </div>
            <table class="table table-striped" id="info-table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .ExtraDayList.List}}
                    {{if ne .Year $Year}}
                    {{$Year = .Year}}
                    <tr class="bg-secondary text-white">
                        <th scope="row">&nbsp;</th>
                        <td colspan="3" class="bg-secondary text-white">{{$Year}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    {{end}}
                    <tr>
                        <th scope="row">{{.Date}}</th>
                        <td>{{.Description}}</th>
                        <td style="text-align:center">
                            <form method="POST" action="/extra_day/{{.Date}}">
                                <button type="submit" class="btn btn-outline-secondary btn-sm"
                                    onclick="return confirm('Are you sure')">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </form>

                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{end}}