{{template "base" .}}

{{define "main"}}
{{$Year :=""}}
<div class="col-12 justify-content-center d-flex">
    <div class="card row col-6">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title">Holidays</h5>
                </div>
            </div>
            <table class="table table-striped" id="info-table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .ExtraDayList.List}}
                    {{if ne .Year $Year}}
                    {{$Year = .Year}}
                    <tr class="bg-secondary text-white">
                        <th scope="row">&nbsp;</th>
                        <td colspan="2" class="bg-secondary text-white">{{$Year}}</td>
                    </tr>
                    {{end}}
                    <tr>
                        <th scope="row">{{.Date}}</th>
                        <td>{{.Description}}</th>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{end}}