<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        body {
            padding-top: 100px;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container">
        <div class="jumbotron text-center text-success">
            <p>Login with:</p>
            <a href="/login" class="btn btn-outline-secondary btn-sm"><span class="fa fa-google"></span> SignIn with
                Google</a>
        </div>
    </div>
</body>

</html>