{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.AppTitle}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>

<body class="bg-light">

    <nav
        class="navbar navbar-expand-lg bg-secondary align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom fixed-top">
        <span>&nbsp;<a class="navbar-brand link-light" href="/">{{.AppTitle}}</a></span>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class='nav-link link-light {{if eq .MenuItem "Home"}}active{{end}}' href="/">Vacations</a>
            </li>
            <li class="nav-item">
                <a class='nav-link link-light {{if eq .MenuItem "Type of Vacations"}}active{{end}}' href="/types">
                    Type of Vacations
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link link-light {{if eq .MenuItem "holidays"}}active{{end}}'
                    href="/extra_days">Holidays</a>
            </li>
            <li class="nav-item">
                <a class='nav-link link-light {{if eq .MenuItem "Users"}}active{{end}}' href="/users">Employees</a>
            </li>
            <li class="nav-item">
                <a class='nav-link link-light' href="/logout">Logout</a>
            </li>
        </ul>
        <div class="col-md-3">
            &nbsp;
        </div>
    </nav>
    <div class="container mt-1 bd-content">
        <span>&nbsp;</span>
    </div>
    <main class="mt-2 bd-content p-5" role="main">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {{template "links" .}}
            </ol>
        </nav>
        {{template "main" .}}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>
{{end}}